[Unit]
Description=raspberry extension server Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/raspberry_extension_server
ExecStart=python3 /opt/raspberry_extension_server/api.py
Restart=on-failure
Environment=LOG_LEVEL=INFO
Environment=branch=main


[Install]
WantedBy=multi-user.target
