flask
pyyaml
bleak
logManager @ git+https://github.com/hendriksen-mark/logManager.git
Adafruit_Python_DHT @ git+https://github.com/hendriksen-mark/Adafruit_Python_DHT.git
Eqiva-Smart-Radiator-Thermostat @ git+https://github.com/hendriksen-mark/Eqiva-Smart-Radiator-Thermostat.git
