astral
ws4py
requests
email-validator
flask
flask_login
flask_restful
flask_wtf
jsonify
Werkzeug
WTForms
pyyaml
flask_cors
cherrypy
bleak
logManager @ git+https://github.com/hendriksen-mark/logManager.git
adafruit-blinka
eqiva-smart-radiator-thermostat @ git+https://github.com/hendriksen-mark/Eqiva-Smart-Radiator-Thermostat.git
RPi.GPIO
libgpiod-dev
python3-libgpiod
adafruit-circuitpython-dht
