ws4py
requests
email-validator
fastapi
nicegui
uvicorn
flask_login
jsonify
WTForms
pyyaml
cherrypy
bleak
logManager @ git+https://github.com/hendriksen-mark/logManager.git
adafruit-blinka
eqiva-smart-radiator-thermostat @ git+https://github.com/hendriksen-mark/Eqiva-Smart-Radiator-Thermostat.git
RPi.GPIO
adafruit-circuitpython-dht
